@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Diphylleia&display=swap');

.about-page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.about-section {
  width: 100%;
  height: 200px;
  background-color: #594A47;
  color: #F4EAE8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.about-header {
  color: #F4EAE8;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F4EAE8;
  font-family: "Crafty Girls", cursive;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: left;
}

.about-text {
  color: #F4EAE8;
  font-family: "Diphylleia", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  max-width: 1200px;
  text-align: left;
}


.split-container {
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.split-container.reverse {
  flex-direction: row-reverse;
}

.split-text {
  flex: 2;
  text-align: left;
  padding: none;
}

.split-text h2 {
  color: #594A47;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #594A47;
  font-family: "Crafty Girls", cursive;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.split-text p {
  color: #333;
  font-family: "Diphylleia", serif;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}


.split-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.split-image img {
  width: 250px;  
  height: auto;
  border-radius: 10px;
}


.white-section {
  background-color: white;
}

.light-pink-section {
  background-color: #F4EAE8;
}


@media (max-width: 768px) {
  .split-container {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .split-container.reverse {
    flex-direction: column;
  }

  .split-image img {
    width: 80%;
  }

  .split-text {
    text-align: center;
  }
}
